<div class="row-fluid">
	<div class="span1">
		<strong>Q1</strong>
	</div>
	<div class="span3">
		<strong>Avez-vous visitez ?</strong>
	</div>
	<div class="span2">
		<input type="checkbox" name="magasin_geant_visite" id="magasin_geant_visite"/>Magazin géant
	</div>
	<div class="span2">
		<input type="checkbox" name="boutique_gc" id="boutique_gc"/>Boutique (GC)
	</div>
	<div class="span2">
		<input type="checkbox" name="fast_food_gc" id="fast_food_gc"/>Fast Food (GC)
	</div>
</div>