<html>
	<head>
		<title>Error</title>
		<style type="text/css">
			body{
				background: url("chrome://global/skin/media/imagedoc-darknoise.png") repeat scroll 0 0 #222222;
				color: #EEEEEE;
			}
			img{
				text-align: center;
				position: absolute;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0; 
			}
			.decoded{
				background: url("chrome://global/skin/media/imagedoc-lightnoise.png") repeat scroll 0 0 #E5E5E5;
 				color: #222222;
			}
		</style>
	</head>
	<body>
		<img class="decoded" src="http:{{ MEDIA_URL }}/error.jpg" style="cursor: -moz-zoom-in">
		<div style="display:none">
			{{ errors }}
		</div>
	</body>
</html>