<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zara 3B survey</title>
	<link href="{{ MEDIA_URL }}/bootstrap/css/bootstrap.min.css"     rel="stylesheet" media="screen">
	<link href="{{ MEDIA_URL }}/js/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container-fluid" style="background-color: #F7F7F9;border: 1px solid #E1E1E8;">
		<form name="survey" id="survey" action="{% url add_survey %}" method="post">
			{% csrf_token %}
			{% include "questions/header.tpl" %}
			<div class="row-fluid">
				<fieldset>
					<legend></legend>
					{% include "questions/q1.tpl" %}
					{% include "questions/q2.tpl" %}
					{% include "questions/q3.tpl" %}
					{% include "questions/q4.tpl" %}
				</fieldset>
			</div>
			<div class="row-fluid">
				<fieldset>
					<legend></legend>
					{% include "questions/q5.tpl" %}
					{% include "questions/q6.tpl" %}
				</fieldset>
			</div>
			<div class="row-fluid">
				<fieldset>
					<legend></legend>
					{% include "questions/signalitique.tpl" %}
				</fieldset>
			</div>
			<div class="form-actions" align="center">
				<button type="submit" class="btn btn-primary">Enregistrer</button>
				<button type="reset"  class="btn">Annuler</button>
			</div>
		</form>
	</div>
	<script src="{{ MEDIA_URL }}/js/jquery-latest.js"></script>
	<script src="{{ MEDIA_URL }}/js/jquery.tools.min.js"></script>
	<script src="{{ MEDIA_URL }}/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{ MEDIA_URL }}/js/survey.js"></script>
	{% if insertion_status %}
	<script type="text/javascript">
		alert("Insertion successful");
	</script>
	{% endif %}
</body>
</html>